.label {    
    text-align: left;
}

.label * {
    margin: 0;
}


.label h1 {
    font-size: 50px;
}

.label h2 {
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: 'Celias', sans-serif;
    font-size: 30px;
    font-weight: 900;

    cursor: pointer;
}

.label h3 {
    font-size: 16px;
    color: var(--unimportant-text-grey);
}

.label div h3 {
    display: inline-block;
}

.label h3.authors {
    margin-right: 10px;
}

.label h3 span.is-grey {
    filter: grayscale(100%);
}

.label .tags {
    margin-top: 35px;
}



/* Should be defined in document about all of the flow. */
.react-flow__node {
    width: 300px;
    filter: drop-shadow(1px 3px 3px gray);
}

.react-flow__node.selected {
    filter: drop-shadow(2px 5px 5px red);
}