:root {
    --unimportant-text-grey: grey;
}




/* Celias font styles. */
@font-face {
    font-family: 'Celias';
    src: url('./fonts/Celias-Black.woff2') format('woff2'),
        url('./fonts/Celias-Black.woff') format('woff'),
        url('./fonts/Celias-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('./fonts/Celias-Bold.woff2') format('woff2'),
        url('./fonts/Celias-Bold.woff') format('woff'),
        url('./fonts/Celias-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('./fonts/Celias-Medium.woff2') format('woff2'),
        url('./fonts/Celias-Medium.woff') format('woff'),
        url('./fonts/Celias-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}